<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
</head>
<body>

<pre>
    site:
----------------------------------------
{{ site | inspect }}
----------------------------------------
</pre>
<hr>
<pre>
    page:
----------------------------------------
{{ page | inspect }}
----------------------------------------
</pre>
<hr>
<pre>
    layout:
----------------------------------------
{{ layout | inspect }}
</pre>
<hr>
<pre>
    content:
----------------------------------------
{{ content | inspect }}
----------------------------------------
</pre>
<hr>
<pre>
    paginator:
----------------------------------------
{{ paginator | inspect }}
----------------------------------------
</pre>
</body>
</html>
